body {
    background-color: #eceff4;
}

.title {
    width: 700px;
    margin: 0 auto;
    text-align: center;
}

h1, h2 {
    color: #3b4252;
}
p {
    color: #2e3440;
}
img {
    margin: 0 auto;
    height: auto;
    width: 700px;
    box-sizing: border-box;
}

.contents {
    padding: 0 20px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 50px;
}